name: digia
description: 'Digia UI app example'
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  digia_ui:
    git:
      url: git@github.com:Digia-Technology-Private-Limited/digia_ui.git
      ref: feature/trimmed-rc1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/